<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title sec:authentication="name"></title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <script th:src="@{js/jquery.2.1.1.min.js}"></script>
    <script th:src="@{js/bootstrap.3.3.7.min.js}"></script>
    <style type="text/css">
        body {
            padding-top: 50px;
        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">decolor</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}"> 首页 </a></li>
                <li><a th:href="@{/scoreRecord}"> 积分记录 </a></li>
                <li><a th:href="@{/editPassword}"> 修改密码 </a></li>
                <li><a th:href="@{/transferScore}"> 积分转赠 </a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="starter-template">
        <h1>积分转赠</h1>
        <p th:if="${msg.content}=='2'" class="bg-warning">转赠成功</p><!-- 1 -->
        <p th:if="${msg.content}=='1'" th:text="${msg.etraInfo}" class="bg-danger">有错误，请重试</p> <!-- 2 -->
        <form name="form" th:if="${msg.content}!='2'" th:action="@{/transferScore}" action="/transferScore"
              method="POST"> <!-- 3 -->
            <div class="form-group">
                <label for="memberPhone">会员手机</label>
                <input type="text" class="form-control" name="memberPhone" value="" placeholder="请输入对方手机号码"/>
            </div>
            <div class="form-group">
                <label for="memberName">会员名称</label>
                <input type="text" class="form-control" name="memberName" placeholder="请输入对方名称"/>
            </div>
            <div class="form-group">
                <label for="score">赠于积分</label>
                <input type="number" class="form-control" name="score"
                       th:placeholder="'请输入赠送积分，您当前积分为:'+${member.memberScore}" placeholder="请输入赠送积分，您当前积分为:*"/>
            </div>
            <div class="form-group">
                <label for="remark">备注</label>
                <input type="text" class="form-control" name="remark" placeholder="备注"/>
            </div>
            <input type="submit" id="transfer" value="提交" class="btn btn-primary"/>
        </form>
    </div>
</div>
</body>
</html>
